<!doctype html>
<html>

<head>
    <title>Chat!</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
    $(function() {
        var $message = $('#message');
        var name = '<%= username %>';
        var $chat = $('#chat');

        var socket = io();
        $('form').submit(function() {
            socket.emit('message', { name: name, message: $message.val() });
            $message.val('');
            return false;
        });

        function formatDate(utcString) {
            return new Date(utcString).toLocaleString('en-US', { hour: '2-digit', minute: '2-digit' });
        }

        socket.on('message', function(args) {
            $chat.append($('<li style="background-color: ' + args.color + '">').html('<small class="pull-right">' + formatDate(args.time) + '</small>' + args.name + ' > ' + args.message));
        });
    });
    </script>
</head>

<body>
    <div class="container">
        <form autocomplete="off">
            <div class="flex-row">
                <h1>Chat</h1>
                <div class="flex"></div>
                <a id="logoutLink" style="margin-right: 10px" href="/logout">logout</a>
                <a id="editLink" style="margin-right: 20px" href="/user">Edit User</a>
                <%= username %>
            </div>
            <div class="flex-row">
                <input autocomplete="off" type="text" class="flex" id="message" placeholder="Your message..." autofocus />
                <Button type="submit">Submit</Button>
            </div>
        </form>
        <ul id="chat"></ul>
    </div>
</body>

</html>