<!doctype html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body>
    <div class="container">
        <div class=" form-container">
            <h1 class="form-header">Login</h1>
            <form method="POST" action="/login">
                <label>Username:</label>
                <input type="text" id="username" name="username">
                <br>
                <label>Password:</label>
                <input type="password" id="password" name="password">
                <br>
                <input type="submit" id="login" value="Login">
            </form>
        </div>
        <a id="signUpLink" href="/signup">Sign Up</a>
        <hr>
        <span id="loginMsg">
            <%= msg %>
            You must log in in order to chat.
            </span>
    </div>
</body>

</html>