<!doctype html>
<html>

<head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body>
    <div class="container">
        <div class="form-container">
            <h1 class="form-header">Sign Up</h1>
            <form method="POST" action="/signup">
                <label>Username:</label>
                <input type="text" id="username" name="username">
                <br>
                <label>Password:</label>
                <input type="password" id="password" name="password">
                <br>
                <label>Email:</label>
                <input type="email" id="email" name="email">
                <br>
                <input type="submit" id="register" value="Register">
            </form>
        </div>
        <hr>
        <span id="signupMsg">
    <%= msg %>
    </span>
    </div>
</body>

</html>