<!doctype html>
<html ng-app="myApp">

<head>
    <title>Edit User</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body>
    <div class="container">
        <div class="form-container" ng-controller="myController">
            <h1 id="sectionTitle" class="form-header">User Profile</h1>
            <form method="POST" action="/user/update">
                <label>Username:</label>
                <input type="text" id="username" name="username" ng-model="user.username">
                <br>
                <label>Email:</label>
                <input type="email" id="email" name="email" ng-model="user.email">
                <br>

                <label>Color:</label>
                <input type="color" id="color" name="color" ng-model="user.color">
                <br>
                
                <input type="submit" id="save" value="Save">
            </form>
        </div>
        <form method="POST" action="/user/delete">
            <input type="submit" id="delete" value="Delete User">
        </form>
        <hr>
        <span id="userMsg">
    <%= msg %>
    </span>
        <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
        <script src="/javascripts/my_app.js"></script>
        <a id="homeLink" href="/">Home</a>
    </div>
</body>

</html>