body {
    font-family: Avenir, Lato, Roboto, sans-serif;
    background-color: #7fdbff;
    margin: 0;
    padding: 15px;
}

.container {
    max-width: 100vw;
    width: 500px;
    margin: auto;
}

h1 {
    margin: 0px;
}

hr {
    border: 1px solid black;
    opacity: 0.3;
}

input {
    border: 1px lightgray solid;
    padding: 8px 12px;
    border-radius: 3px;
    margin-bottom: 5px;
}

button,
input[type='submit'] {
    padding: 8px 12px;
    border-radius: 3px;
    border: 0;
    background-color: #0074d9;
    color: white;
    margin-bottom: 5px;
}

ul {
    padding: 0;
    margin: 0;
}

ul > li {
    margin: 10px 0;
    padding: 3px 8px;
    background-color: #001f3f;
    color: white;

    list-style: none;
    border-radius: 3px;
}

#message {
    margin-right: 5px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 20px;
}

.flex {
    flex: 1 1 0;
}

a {
    color: #0074d9;
}

a:hover {
    opacity: 0.7;
    color: #0074d9;
}

.pull-right {
    float: right;
}
